@model assignment.Models.Course

@{
    Layout = "../Shared/_LayoutMain.cshtml";
}

<p class="title">
    Create course __ &#129512; &#129512;
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="gridForm">
        <div>
            <div class="formControll">
                <p class='label_input'>
                    @Html.LabelFor(model => model.Course_name)
                </p>
                <div class="input inputBlur">
                    <i class="fas fa-pencil-alt"></i>
                    @Html.TextBoxFor(model => model.Course_name, new { placeholder = "Enter trainee fullname ..." })
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Course_name, null, new { @class = "error" })
        </div>

        <div>
            <div class="formControll">
                <p class='label_input'>
                    @Html.LabelFor(model => model.CategoryId)
                </p>
                <div class="input inputBlur">
                    @{Html.RenderAction("ChooseCategory", "Course");}
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <div class="formControll">
            <p class='label_input'>
                @Html.LabelFor(model => model.Course_description)
            </p>
            @Html.TextAreaFor(model => model.Course_description, new { placeholder = "Enter experience details ...", @class = "input inputBlur" })
        </div>
        @Html.ValidationMessageFor(model => model.Course_description, null, new { @class = "error" })
    </div>
    <button class="bt__default">Save</button>
}

