@model IEnumerable<assignment.Models.Course>

@{
    Layout = "../Shared/_LayoutMain.cshtml";
}

@if (@TempData["message"] != null)
{
    <div class="toast toast__success">
        <p>&#128077;</p>
        <p> @TempData["message"] </p>
    </div>
}

@if (@TempData["Error"] != null)
{
    <div class="toast toast__error">
        <p>&#128078;</p>
        <p> @TempData["Error"] </p>
    </div>
}

<p class="title">
    Show courses __ &#9924; &#9731;
</p>

<div class="items">
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="item__course">
                <img class="course__img" src="@Html.DisplayFor(modelItem=> item.image)" />
                <h3 class="course__name">@Html.DisplayFor(modelItem => item.Course_name)</h3>
                <div>
                    <p class="category__name">Categoy - @Html.DisplayFor(modelItem => item.CourseCategory.Category_name)  </p>
                    <p class="description">@Html.DisplayFor(modelItem => item.Course_description)</p>
                </div>
                <div>
                    <nav>
                        @Html.ActionLink("Update", "Edit", new { id = item.CourseId }, new { @class = "linkFunc" }) /
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "linkFunc" }) /
                        <a class="linkFunc delete" href="#" data-action="delete-course" data-name-input="CourseId" data-name="course" data-input="@Html.DisplayFor(modelItem => item.CourseId)">Delete</a>
                    </nav>
                </div>

            </div>
        </div>
    }
</div>

<script>
    document.getElementById('search').addEventListener("input", (e) => {
        search(e.target.value, ['course__name', 'category__name', 'description'])
    })
</script>

