@model IEnumerable<assignment.Models.Training_staff>

@{
    Layout = null;
}

    @foreach (var item in Model)
    {
        <div class="item">
            <img class="avatar" src="@Html.DisplayFor(modelItem => item.image)" />
            <div class='information'>
                <div>
                    <p class="text"><span>Id user :</span> <span class="id">@Html.DisplayFor(modelItem => item.StaffId)</span></p>
                    <p class="text"><span>Full name:</span> <span class="fullname">@Html.DisplayFor(modelItem => item.Staff_fullname)</span></p>
                    <p class="text"><span>Username :</span> <span class="username">@Html.DisplayFor(modelItem => item.Staff_username)</span></p>
                    <p class="text"><span>Password :</span> <span class="password">@Html.DisplayFor(modelItem => item.Staff_password)</span></p>
                    <p class="text"><span>Roll :</span> <span class="roll">@Html.DisplayFor(modelItem => item.roll)</span></p>
                </div>
                <div>
                    <nav>
                        <a href="/admin/edit-staff/@Html.DisplayFor(modelItem => item.StaffId)" class="linkFunc">Update</a> /
                        <a class="linkFunc delete" href="#" data-action="/Staff/Delete" data-name-input="StaffId" data-name="staff" data-input="@Html.DisplayFor(modelItem => item.StaffId)">Delete</a>
                    </nav>
                </div>
            </div>
        </div>
    }

