@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/Header.css")
    @Styles.Render("~/Content/form.css")
    @Styles.Render("~/Content/Detail.css")
    @Styles.Render("~/Content/Dialog.css")
    @Styles.Render("~/Content/Category.css")
    @Styles.Render("~/Content/Course.css")
    @Styles.Render("~/Content/Table.css")
    @Styles.Render("~/Content/AddUser.css")
</head>
<body>
    <div class="dialog">
        <div class="dialog__content">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>
            <img class="delete-img" src="/Content/Asset/image3.jpg" alt="">
            <h2 class="title-delete">Delete trainee</h2>
            <p class="note">do you want to delete trainee has id is 454554</p>
            <div class="flexButton">
                <button class="bt bt__ds bt__close">Cancel</button>
                <form class="form-dl" method="post">
                    <input class="delete-input" type="hidden" value="id" />
                    <button class="bt bt__primary">Ok</button>
                </form>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="Home">
        </div>
        <div class="func">
            @if (Session["roll"].ToString() == "Admin")
            {
                <div class="dropdow">
                    <p class="muc">
                        <span>Manager Account</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Accounts
                            <lord-icon data-url="/admin/show-accounts" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                        <div class="link">
                            Create Account
                            <lord-icon data-url="/admin/create-account" class="iconFunc" src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c" style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>
            }
            
            @if (Session["roll"].ToString() == "Trainer")
            {
                <div class="dropdow">
                    <p class="muc">

                        <span>Course</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Courses
                            <lord-icon data-url="/trainer/show-course" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>
            }

            @if (Session["roll"].ToString() == "Trainee")
            {
                <div class="dropdow">
                    <p class="muc">

                        <span>Course</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Courses
                            <lord-icon data-url="/trainee/show-course" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>
            }

            @if (Session["roll"].ToString() == "Staff")
            {

                <div class="dropdow">
                    <p class="muc">

                        <span> Manager Trainees</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Trainees
                            <lord-icon data-url="/staff/show-trainees" class="iconFunc" src="https://cdn.lordicon.com/dxjqoygy.json"
                                       trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width: 240px; height: 48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                        <div class="link">
                            Create Trainees
                            <lord-icon data-url="/staff/create-trainee" class="iconFunc" src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c" style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="dropdow">
                    <p class="muc">

                        <span> Manager Trainers</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Trainers
                            <lord-icon data-url="/staff/show-trainers" class="iconFunc" src="https://cdn.lordicon.com/dxjqoygy.json"
                                       trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width: 240px; height: 48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="dropdow">
                    <p class="muc">
                        <span>Manager Categories </span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Categories
                            <lord-icon data-url="/staff/show-categories" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                        <div class="link">
                            Create Category
                            <lord-icon data-url="/staff/create-category" class="iconFunc" src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c" style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="dropdow">
                    <p class="muc">
                        <span>Manager Courses </span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Courses
                            <lord-icon data-url="/staff/show-courses" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                        <div class="link">
                            Create course
                            <lord-icon data-url="/staff/create-course" class="iconFunc" src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c" style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>

                <div class="dropdow">
                    <p class="muc">
                        <span>Manager Topics</span>
                        <i class="fas fa-caret-down"></i>
                    </p>
                    <div class="links">
                        <div class="link">
                            Show Topics
                            <lord-icon data-url="/staff/show-topics" class="iconFunc" src="https://cdn.lordicon.com/nocovwne.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c"
                                       style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                        <div class="link">
                            Create Topic
                            <lord-icon data-url="/staff/create-topic" class="iconFunc" src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                       colors="primary:#c5e3f6,secondary:#fc5c9c" style="width:240px;height:48px; padding-left: 180px;">
                            </lord-icon>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
    <div class='box'>
        <header>
            <div class="input inputBlur">
                <i class="fas fa-search"></i>
                <input type="text" id="search" placeholder="Enter your username ..." />
            </div>


            <div class='user'>
                <div class="user-infor">
                    <p>@Session["fullName"]</p>
                    <img class="avatar isborder" src="@Session["image"]" />
                </div>
                @if (Session["roll"].ToString() == "Admin")
                {
                    <ul class="menu">
                        <li>
                            <a href="/Auth/Logout" class="outline" style="width: 100%;">Log out</a>
                        </li>
                    </ul>
                }

                @if (Session["roll"].ToString() == "Staff")
                {
                    <ul class="menu">
                        <li>
                            <i class="far fa-user-circle"></i>
                            <a href="/staff/show-profile">Profile</a>
                        </li>
                        <li>
                            <a href="/Auth/Logout" class="outline" style="width: 100%;">Log out</a>
                        </li>
                    </ul>
                }

                @if (Session["roll"].ToString() == "Trainer")
                {
                    <ul class="menu">
                        <li>
                            <i class="far fa-user-circle"></i>
                            <a href="/trainer/show-profile">Profile</a>
                        </li>
                        <li>
                            <a href="/Auth/Logout" class="outline" style="width: 100%;">Log out</a>
                        </li>
                    </ul>
                }

                @if (Session["roll"].ToString() == "Trainee")
                {
                    <ul class="menu">
                        <li>
                            <i class="far fa-user-circle"></i>
                            <a href="/trainee/show-profile">Profile</a>
                        </li>
                        <li>
                            <a href="/Auth/Logout" class="outline" style="width: 100%;">Log out</a>
                        </li>
                    </ul>
                }


                

            </div>



        </header>
        <div class="content">
            <div class="bg">
            </div>
            <div class="main">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    @Scripts.Render("~/Scripts/search.js")
    @Scripts.Render("~/Scripts/Link.js")
    @Scripts.Render("~/Scripts/focus.js")
    @Scripts.Render("~/Scripts/dialog.js")
    @Scripts.Render("~/Scripts/Dropdown.js")
</body>
</html>
