@model assignment.Models.Trainee

@{
    Layout = "../Shared/_LayoutMain.cshtml";
}

@if (@TempData["message"] != null)
{
    <div class="toast toast__success">
        <p>&#128077;</p>
        <p> @TempData["message"] </p>
    </div>
}

@if (@TempData["Error"] != null)
{
    <div class="toast toast__error">
        <p>&#128078;</p>
        <p> @TempData["Error"] </p>
    </div>
}

<p class="title">
    Profile __ &#127756;
</p>
<div class="flex gap-30 flex-col letter-3">
    <div class="flex items-center gap-20">
        <h2>@Html.DisplayFor(model => model.TraineeId)</h2>
        <a href='/trainee/edit-profile' class="blue">
            <i class="far fa-edit"></i>
        </a>
    </div>
    <img class="avatar isborder size-80 rect" src="@Html.DisplayFor(model => model.image)" />
    <div>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.TraineeId): </span>
            <span>@Html.DisplayFor(model => model.TraineeId)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_fullname): </span>
            <span>@Html.DisplayFor(model => model.Trainee_fullname)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_age): </span>
            <span>@Html.DisplayFor(model => model.Trainee_age)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_birthday): </span>
            <span>@Html.DisplayFor(model => model.Trainee_birthday)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_education): </span>
            <span>@Html.DisplayFor(model => model.Trainee_education)</span>
        </p>

        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_TOEIC_score): </span>
            <span>@Html.DisplayFor(model => model.Trainee_TOEIC_score)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_programming_language): </span>
            <span>@Html.DisplayFor(model => model.Trainee_programming_language)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_exprience_details): </span>
            <span>@Html.DisplayFor(model => model.Trainee_exprience_details)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_location): </span>
            <span>@Html.DisplayFor(model => model.Trainee_location)</span>
        </p>
        <p class='text'>
            <span>@Html.DisplayNameFor(model => model.Trainee_department): </span>
            <span>@Html.DisplayFor(model => model.Trainee_department)</span>
        </p>
    </div>
</div>
